


<div class="ui four cards">
  <% @boards.each do |board| %>
  <div class="card">
    <div class="content">
      <%= link_to board_path(board) do %>
      <h2 class="ui olive center aligned header"><%= board.name %></h2>
      <div class="ui divider"></div>
      <% end %>
      <% board.lists.each_with_index do |list, i| %>
      <% if i <= 3%>
      <p><%= list.name %></p>
      <% end%>
      <% end %>
    </div>

  </div>
  <% end%>
</div>


