
<h1 class="ui olive center aligned header">Create A New Board</h1>
<%= form_with(model: @board, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.text_field :name, class: "middle olive input", autofocus: true %>
  </div>
 <div class="ui olive center aligned header">
 <%= f.submit nil, class: "ui olive button" %>
 </div>
<% end %>